.container {
    width: 100%;
    height: 100%;
    background-color: var(--background);

    input::placeholder {
        color: var(--text);
    }
}

.formContainer {
    max-width: 500px;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-image: url('../../../public/background-mobile.png');
    background-size: 170%;
    background-repeat: no-repeat;
    background-position: top;
    padding: 0 1rem;
    position: relative;

    button.close{
        position: absolute;
        top: 2rem;
        right: 2rem;
        background: none;
        border: 0;
        font-size: 2rem;
        color: red;
    }

    h1 {
        margin-top: 7rem;
        margin-bottom: 3rem;
        text-transform: uppercase;
        color: var(--text);
        font-weight: bold;
        font-size: 2rem;
        text-align: center;
    }

    .client_data {
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        .inputName {
            height: 40px;
            padding-left: 1rem;
            border: 2px solid var(--border);
        }

        input {
            border-radius: 0.25rem;
            outline: 0;
        }

        .wrap {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            margin-top: 1rem;

            input.inputTel {
                width: 55%;
                max-width: 210px;
                padding-left: 1rem;
                border: 2px solid var(--border);
            }

            input.inputValue {
                width: 40%;
                height: 40px;
                text-align: center;
                border: 2px solid var(--border);
                -moz-appearance: textfield;
                appearance: textfield;

                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;

                }
            }
        }

    }

    div.serviceHourWraper {
        margin: 1rem;
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 400px;


        div.service_data {



            input {
                line-height: 40px;
                padding-left: 1rem;
                border-radius: 0.25rem;
                border: 2px solid var(--border);
                outline: 0;
                width: 150%;
                max-width: 210px;
            }
        }

        .selectHour {
            display: flex;
            background-color: white;
            border: 2px solid var(--border);
            padding: calc(0.68rem - 23.6px);
            line-height: 40px;
            padding: 0 0rem;
            letter-spacing: 0.2rem;
            border-radius: 0.25rem;
            position: relative;
            width: 40%;

            span {
                position: absolute;
                letter-spacing: 0;
                text-align: center;
                width: 100%;
                color: var(--text);
            }

            input {
                position: relative;
                opacity: 0;
                width: 100%;
                max-width: fit-content;
                height: 40px;

                &::-webkit-calendar-picker-indicator {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: auto;
                    height: auto;
                    color: transparent;
                    background: transparent;
                }
            }

        }




        @media (max-width: 450px) {
            flex-direction: column;

            div.service_data {
                input {
                    width: 100%;
                    max-width: none;
                }
            }

            .selectHour {
                max-width: fit-content;
                margin: 1rem auto 0 auto;
                color: var(--text);
                font-weight: bold;
            }
        }
    }

    .button {
        line-height: 40px;
        width: fit-content;
        padding: 0 2rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        background-color: var(--buttonColor);
        border: 0;
        border-radius: 0.25rem;
        height: 40px;
        color: var(--white);

        &:hover {
            filter: brightness(0.8)
        }
    }
}