.container {
  min-height: 100vh;
  background-image: url("../../public/background-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  @media (max-width: 600px){
    background-image: url("../../public/background-mobile.png");
  }
}
