.header {
    display: flex;
    margin: 0 auto;
    padding-left: 3rem;
    padding-top: 1.5rem;
    padding-right: 3rem;
    color: var(--text);
    max-width: 1280px;


    .logo {
        height: 50px;
        line-height: 50px;
        flex: 1;

        h1 {
            font-size: 1.25rem;
        }
    }
}

