.container {
    background: var(--background);
    height: 100vh;
    @media (max-width: 1010px) {
        height: fit-content;
    }

}

.content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 10rem auto 0 auto;
    position: relative;


    .div{
        background-color: var(--background);
        display: flex;
        height: 100%;
        justify-content: space-between;

        @media (max-width: 1010px) {
            flex-direction: column;
        }
    }
}